body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

/* Loading animation */
#loading {
	float: none;
	margin: 0 auto;
	top: 250px;
	width: 150px;
	height: 95px;
	background-color: rgba(255, 255, 255, 0.25);
	border: thin gray solid;
	border-radius: 4px;
}

.modal-sm {
	width: 100% !important;
}

.spinner {
	top: 15px;
	margin: 0 auto;
	width: 50px;
	height: 30px;
	text-align: center;
	font-size: 10px;
}

	.spinner > div {
		background-color: #333;
		height: 100%;
		width: 6px;
		display: inline-block;
		-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
		-moz-animation: stretchdelay 1.2s infinite ease-in-out;
		-o-animation: stretchdelay 1.2s infinite ease-in-out;
		animation: stretchdelay 1.2s infinite ease-in-out;
	}

	.spinner .rect2 {
		-webkit-animation-delay: -1.1s;
		-moz-animation-delay: -1.1s;
		-o-animation-delay: -1.1s;
		animation-delay: -1.1s;
	}

	.spinner .rect3 {
		-webkit-animation-delay: -1.0s;
		-moz-animation-delay: -1.0s;
		-o-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}

	.spinner .rect4 {
		-webkit-animation-delay: -0.9s;
		-moz-animation-delay: -0.9s;
		-o-animation-delay: -0.9s;
		animation-delay: -0.9s;
	}

	.spinner .rect5 {
		-webkit-animation-delay: -0.8s;
		-moz-animation-delay: -0.8s;
		-o-animation-delay: -0.8s;
		animation-delay: -0.8s;
	}

@-webkit-keyframes stretchdelay {
	0%, 40%, 100% {
		-webkit-transform: scaleY(0.4);
		-moz-transform: scaleY(0.4);
		-ms-transform: scaleY(0.4);
		-o-transform: scaleY(0.4);
		transform: scaleY(0.4);
	}

	20% {
		-webkit-transform: scaleY(1.0);
		-moz-transform: scaleY(1.0);
		-ms-transform: scaleY(1.0);
		-o-transform: scaleY(1.0);
		transform: scaleY(1.0);
	}
}

@keyframes stretchdelay {
	0%, 40%, 100% {
		-moz-transform: scaleY(0.4);
		-ms-transform: scaleY(0.4);
		-o-transform: scaleY(0.4);
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}

	20% {
		-moz-transform: scaleY(1.0);
		-ms-transform: scaleY(1.0);
		-o-transform: scaleY(1.0);
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}
