@using YahooFantasy.Web.Ui.Models
@model FilterViewModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="players">
	@{ Html.RenderPartial("_Players", new List<PlayerAnnualViewModel>().AsQueryable()); }
</div>

@{ Html.RenderPartial("_Loading"); }