@using YahooFantasy.Web.Ui.Models
@using YahooFantasy.Web.Ui.Controllers
@model FilterViewModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="players">
	@*@{ Html.RenderPartial("_Players", new List<PlayerAnnualViewModel>().AsQueryable()); }*@
	@*@Html.Action("Players")*@
	@{ Html.RenderPartial("_Data", Html.DataTableVm("player-data", (HomeController c) => c.GetPlayers(null, Model))); }
</div>

@{ Html.RenderPartial("_Loading"); }